<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>
	  --><!--<add name="AppDbContext" connectionString="Server=localhost;Database=MicroUniverso;User ID=sa;Password=Emv2023@endrigo;" providerName="System.Data.SqlClient" />--><!--
	  --><!--<add name="AppDbContext" connectionString="data source=.\SQLEXPRESS;initial catalog=MicroUniverso;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />--><!--
	  <add name="AppDbContext" connectionString="Server=localhost;port=1433;Database=MicroUniverso;User ID=sa;Password=Emv2023@endrigo;Integrated Security=True;" />
  </connectionStrings>-->

	<connectionStrings>
		<add name="DefaultConnection"
			 providerName="System.Data.SqlClient"
			 connectionString="Server=localhost;Database=MicroUniverso;User ID=sa;Password=Emv2023@endrigo"/>
	</connectionStrings>
</configuration>